<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="namaPeserta">Nama Peserta</label>
          <input
            type="text"
            id="namaPeserta"
            class="form-control"
            #nameInput>
        </div>
        <div class="col-sm-2 form-group">
          <label for="nilaiUjian">Nilai Ujian</label>
          <input
            type="number"
            id="nilaiUjian"
            class="form-control"
            #valueInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success tombol" type="submit" (click)="onAddData()">Add</button>
          <button class="btn btn-danger tombol" type="button">Delete</button>
          <button class="btn btn-primary tombol" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
